@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background: url('/wp13639442-tailwind-css-wallpapers.png') no-repeat center center fixed;
  --background-size: cover;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: url('/wp13639442-tailwind-css-wallpapers.png') no-repeat center center fixed;
    --background-size: cover;
    --foreground: #e0e0e0;
  }
}

body {
  background: var(--background);
  background-size: cover;
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}
